[Unit]
Description=Record temperature Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]    
Type=forking   
ExecStart=/etc/temp_monitor/get_temp_start.sh
ExecStop=/etc/temp_monitor/get_temp_stop.sh
PrivateTmp=true   
   
[Install]      
WantedBy=multi-user.target
