#!/bin/sh
TZ='Asia/Shanghai'
export TZ

LOG_DIR=/home/myuser/tmp/temperature

i=1
DAY=`date | awk '{print $2}'`
MONTH=`date | awk '{print $3}'`
LOG_FILE=${LOG_DIR}/temp_"$DAY"_"$MONTH".log

if [ ! -d ${LOG_DIR} ]; then
	mkdir -p ${LOG_DIR} 
fi

while [ $i -le 1000 ]
do
	if [ -d /sys/class/thermal/thermal_zone0 ]; then
		TEMP0=`awk '{printf "%3.1f\n", $1/1000}' /sys/class/thermal/thermal_zone0/temp`
	else
		TEMP0=""
	fi
	if [ -d /sys/class/thermal/thermal_zone1 ]; then
		TEMP1=`awk '{printf "%3.1f\n", $1/1000}' /sys/class/thermal/thermal_zone1/temp`
	else
		TEMP1=""
	fi
	DATE=`date | awk '{print $4}'`
	VAR=`date | awk '{print $2}'`
	LOAD=`cat /proc/loadavg`
	MEM=`free -h |grep Mem:|awk '{printf " %s %s %s %s",$4,$5,$6,$7}'`

	if [ "$DAY" != "$VAR" ]; then
		sync
		DAY=$VAR
		MONTH=`date | awk '{print $3}'`
		LOG_FILE=${LOG_DIR}/temp_"$DAY"_"$MONTH".log
	fi

	if [ -z $TEMP1 ]; then
		echo $DATE" "$TEMP0" "$LOAD$MEM >> $LOG_FILE
	else
		echo $DATE" "$TEMP0" "$TEMP1" "$LOAD$MEM >> $LOG_FILE
	fi
	sleep 30
done

