[Unit]
Description=Aria2 download service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]    
Type=forking   
ExecStart=/usr/bin/aria2c --conf-path=/home/pi/raspberry_script/aria2/aria2.conf -D
PrivateTmp=true   
   
[Install]      
WantedBy=multi-user.target
