[Unit]
Description=Record temperature Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]    
Type=forking   
ExecStart=/home/pi/raspberry_script/ngrok/ngrok_start.sh
ExecStop=/home/pi/raspberry_script/ngrok/ngrok_stop.sh
PrivateTmp=true   
   
[Install]      
WantedBy=multi-user.target
