[Unit]
Description=Report time in sequence.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]    
Type=forking   
ExecStart=/etc/IpAddr/start.sh
ExecStop=/etc/IpAddr/stop.sh
PrivateTmp=true   
   
[Install]      
WantedBy=multi-user.target
