[Unit]
Description=Report time in sequence.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]    
Type=forking   
ExecStart=/home/pi/ReportTime/start.sh
ExecStop=/home/pi/ReportTime/stop.sh
PrivateTmp=true
User=pi
Group=pi
   
[Install]      
WantedBy=multi-user.target
